* {
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 33, 43);
    margin: 0 auto;
    font-family: system-ui;
    font-size: 18px;
}

main,
header,
footer {
    margin: 0 25% 0 25%;
    width: 50%;
}

p,
ul {
    color: #909090;
}

h1,
h2,
h3 {
    color: #d3efae;
    text-align: center;
}

a {
    color: #d3efae;
}

mark {
    background: #d3efae;
    color: #212121;
}

.header-image {
    display: block;
    margin: 10px auto;
    border-radius: 30%;
    width: 40%;
    height: auto;
}

code {
    background: #323232;
    border-left: 3px solid #ffffff;
    color: #d3efae;
    display: block;
    font-size: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    margin: 10px auto;
    width: 50%;
    height: auto;
}